#RedRange, #GreenRange, #BlueRange {
  float: left;
  clear: left;
  width: 325px;
  margin: 15px;
}

#RedRange .ui-slider-range { background: #ef2929; }
#RedRange .ui-slider-handle { border-color: #ef2929; }
#GreenRange .ui-slider-range { background: #8ae234; }
#GreenRange .ui-slider-handle { border-color: #8ae234; }
#BlueRange .ui-slider-range { background: #729fcf; }
#BlueRange .ui-slider-handle { border-color: #729fcf; }

#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 10px;
  background-image: none;
}

#RedText {
  margin: 12px;
  border: solid; 
  color: #ef2929; 
  font-weight: bold;
  visibility:hidden;
  border-radius: 4px;
}

#GreenText {
  margin: 12px;
  border: solid; 
  color: #8ae234; 
  font-weight: bold;
  visibility:hidden;
  border-radius: 4px;
}

#BlueText {
  margin: 12px;
  border: solid; 
  color: #729fcf; 
  font-weight: bold;
  visibility:hidden;
  border-radius: 4px;
}

input { 
  width: 50px;
}
/* following will be used to center align all the content, to make it 'nicer' to use */
.center-content {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.scoreElement {
  width: 400px;
  border: solid thin black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 4px;
  margin-top: 4px;
  text-shadow: 1px 1px white; 
}
